.corner-bg{
    background: url('../../Images/cornerOne.png');
    background-position: center;
    background-size: cover;
   clip-path:polygon(103% 75%, 68% 74%, 68% 100%, 0% 100%, -4% -6%, 51% -10%, 106% -11%, 106% 18%);
    /* clip-path:polygon(102% 81%, 78% 81%, 78% 100%, 0% 100%, -4% -6%, 51% -10%, 106% -11%, 106% 18%) ;  */
}
.corner-Two{
    background: url('../../Images/conerTwo.png');
    background-position: center;
    background-size: cover;
   clip-path:polygon(103% 75%, 68% 74%, 68% 100%, 0% 100%, -4% -6%, 51% -10%, 106% -11%, 106% 18%);
    /* clip-path:polygon(102% 81%, 78% 81%, 78% 100%, 0% 100%, -4% -6%, 51% -10%, 106% -11%, 106% 18%) ;  */
}
.corner-Three{
    background: url('../../Images/conerThree.png');
    background-position: center;
    background-size: cover;
   clip-path:polygon(103% 75%, 68% 74%, 68% 100%, 0% 100%, -4% -6%, 51% -10%, 106% -11%, 106% 18%);
    /* clip-path:polygon(102% 81%, 78% 81%, 78% 100%, 0% 100%, -4% -6%, 51% -10%, 106% -11%, 106% 18%) ;  */
}

.bg-icons{
    background: url('../../Images/icons.png');
    background-position: center;
    background-size: cover;
}
.bg-cup{
    background: url('../../Images/cup.png');
    background-position: center;
    background-size: cover;
}
.bg-game{
    background: url('../../Images/game.png');
    background-position: center;
    background-size: cover;
}