.bg-image{
    background: url('../../Images/SectionTwo.png');
    background-position: center;
    background-size: cover;
    /* background: linear-gradient(180.64deg, rgba(0, 0, 0, 0) -15.17%, rgba(11, 11, 11, 0.525006) 29.31%, rgba(18, 18, 18, 0.86) 78.32%); */
}